
<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>꿀픽 매장관리</title>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "blog/assets/css/store.css" %}" />
</head>
<body>
  <div class="top">
    <h1>메뉴관리</h1>
    <a href="#" class="hamburger">  
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
   
  <div class="cont menu_regist">
    <form method="post" action="{% url 'upload_product' %}">
      {% csrf_token %} 
        <div class="regist_list">
          <ul>
            {% for item in menu %}
            <li>
              <input type="text" id="product-{{ forloop.counter }}" name="product_{{ forloop.counter }}" value="{{ item.productName }}">
              <input type="text" id="product-{{ forloop.counter }}" name="product_price_{{ forloop.counter }}" value="{{ item.price }}">
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="btn" type="submit">
          <button>메뉴등록</button>
        </div>
      </form>
    </div>
  
  
  <script>
    var burger = $('.hamburger');

    burger.each(function(index){
      var $this = $(this);
      
      $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
      })
    });
  </script>
</body>
</html>