
<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>꿀픽 매장관리</title>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "blog/assets/css/store.css" %}" />
  <style>
    .button-container{
      display: flex;
      justify-content: flex-end;
    }
  </style>
</head>
<body>
  <div class="top">
    <h1>메뉴관리</h1>
    <a href="#" class="hamburger">  
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="gnb_list">
    <ul>
      <li><a href="select_store">매장선택(home)</a></li>
      <li><a href="#">메뉴관리</a></li>
      <li><a href="speacial_menu">특가상품관리</a></li>
    </ul>
  </div>
  <div class="cont picture_wrap">
    <div class="picture">
      <img id="preview-image" src="" alt ="스캔사진" style="display: none;">
      <p id="pic_reg_txt">사진을 등록해주세요.</p>
    </div>
    
    <form method="post" action="{% url 'take_picture' %}" enctype="multipart/form-data" style="text-align: center;">
      {% csrf_token %}
        <div class="btn">
          <label for="camera-input" class="custom-file-label">사진등록</label>
          <input type="file" accept="image/*" capture="camera" class="custom-file-input" id="camera-input" name="camera-input" onchange="previewImage(this)" style="display: none;">
        </div>
        <div class="button-container">
          <button type="button" id="retake-button" class="fancy-button" style="display: none;">다시 촬영</button>
          <button type="submit" id="upload-button" class="fancy-button" style="display: none;">업로드</button>
        </div>
    </form>
  </div>
  <div class="loading-container" style="display: none;">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>

  <script>
    var burger = $('.hamburger');

    burger.each(function(index){
      var $this = $(this);
      
      $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
      })
    });
    var burger = $('.hamburger');

    burger.each(function(index){
      var $this = $(this);
      
      $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
        $(".gnb_list").toggleClass("on");
        $("body").toggleClass("overlay");
      })
    });
		function showLoadingBar() {
			var loadingContainer = document.querySelector('.loading-container');

			// 로딩 바를 나타내기 위해 display 속성을 'block'으로 변경
			loadingContainer.style.display = 'block';
		}
		function previewImage(input) {
			var preview = document.getElementById('preview-image');
			var retakeButton = document.getElementById('retake-button');
			var uploadButton = document.getElementById('upload-button');
			var uploadLabel = document.querySelector('label[for="camera-input"]');
      var picRegTxt = document.getElementById('pic_reg_txt');
	
			if (input.files && input.files[0]) {
				var reader = new FileReader();
	
				reader.onload = function (e) {
					preview.src = e.target.result;
					preview.style.display = 'block';
					uploadLabel.style.display = 'none';
					retakeButton.style.display = 'block'; // 이미지가 선택되면 "다시 촬영" 버튼을 표시합니다.
					uploadButton.style.display = 'block'; // 이미지가 선택되면 "업로드" 버튼을 표시합니다.
          picRegTxt.style.display = 'none';
	
					// "업로드" 버튼 클릭했을 때 처리
					document.getElementById('upload-button').addEventListener('click', function () {
						console.log('showLoadingBar')
						showLoadingBar(); // 업로드 버튼 클릭 시 로딩 바를 표시합니다.
	
						// 이후에 업로드 로직을 처리할 수 있도록 구현합니다.
						// 예: 이미지 업로드 API 호출 등
					});
				};
	
				reader.readAsDataURL(input.files[0]);
			}
		}
	
		// "다시 촬영" 버튼을 클릭했을 때 input 필드를 리셋합니다.
		document.getElementById('retake-button').addEventListener('click', function () {
			var input = document.getElementById('camera-input');
			input.value = ''; // input 필드 초기화
			var preview = document.getElementById('preview-image');
			preview.style.display = 'none'; // 이미지 미리 보기 숨기기
			var uploadLabel = document.querySelector('label[for="camera-input"]');
			var retakeButton = document.getElementById('retake-button');
			var uploadButton = document.getElementById('upload-button');
			uploadLabel.style.display = 'block';
			retakeButton.style.display = 'none'; // "다시 촬영" 버튼 숨기기
			uploadButton.style.display = 'none'; // "업로드" 버튼 숨기기
		});
  </script>
</body>
</html>