
<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>꿀픽 매장관리</title>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "blog/assets/css/store.css" %}" />
</head>
<body>
  <div class="top">
    <h1>특가상품등록</h1>
    <div class="util">
      <a href="#" class="top_btn">메뉴등록</a>
      <a href="#" class="hamburger">  
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </div>
  <div class="gnb_list">
    <ul>
      <li><a href="select_store">매장선택(home)</a></li>
      <li><a href="homepage_views_afterLogin">메뉴관리</a></li>
      <li><a href="#">특가상품관리</a></li>
    </ul>
  </div>
  <div class="cont">
    <div class="menu_list special">
      <ul>
        {% for product in result.data.productList %}
        <li>
          <form method="post" action="{% url 'special' %}">
            {% csrf_token %}
            <div>
              <div class="img_box">
                {% if product.photoImgPath %}
                  <img src="{{ product.photoImgPath }}" alt="thumbnail">
                {% else %}
                  <!-- 값이 없을 때 기본 이미지를 표시 -->
                  <img src="{% static "blog/images/logo.png" %}" alt="thumbnail">
                {% endif %}
              </div>
              <div class="info">
                <strong>{{ product.productName }}</strong>
                <span>{{ product.price }}원</span>
              </div>
            </div>
            <input type="hidden" name="product_name" value="{{ product.productName }}">
            <input type="hidden" name="product_price" value="{{ product.price }}">
            <input type="hidden" name="product_image" value="{{ product.photoImgPath }}">
            <input type="hidden" name="product_no" value="{{ product.productNo }}">
            <button type="submit" class="info">등록</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="btn">
      <a href="#">메뉴등록</a>
      <a href="picture">일괄등록</a>
    </div>
  </div>

  <script>
    

    var burger = $('.hamburger');

    burger.each(function(index){
      var $this = $(this);
      
      $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
        $(".gnb_list").toggleClass("on");
        $("body").toggleClass("overlay");
      })
    });
    
    var burger = $('.hamburger');

    burger.each(function(index){
      var $this = $(this);
      
      $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
      })
    });
    // JavaScript로 버튼 클릭 이벤트 핸들러 추가
    document.querySelectorAll('button.info').forEach(function(button) {
      button.addEventListener('click', function(event) {

        var form = button.closest('form');

        var productName = form.querySelector('input[name="product_name"]').value;
        var productPrice = form.querySelector('input[name="product_price"]').value;
        var productImage = form.querySelector('.img_box img').src;
        var productNo = form.querySelector('input[name="product_no"]').value;
        form.submit();
        
        event.preventDefault(); // 기본 동작 방지
        return false;
      });
    });
  </script>
</body>
</html>