@charset "UTF-8";

body {
  min-height: 100vh;
  color: #333;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
}
body.overlay {
  overflow: hidden;
}
body.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  top: 64px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
}
select {
  border: 1px solid #d7d7d7;
  padding: 10px;
  border-radius: 6px;
}
table {
  border-collapse:collapse;
  width: 100%;
  margin-bottom: 10px;
}
table th {
  background-color: #444444;
  color: #fff;
  padding: 8px 12px;
  border-bottom: 1px solid #fff;
}
table td {
  border: 1px solid #d7d7d7;
  padding-left: 10px;
}
table td.ai {
  padding: 10px;
}
button {
  border: none;
  background-color: #fec700;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  word-break: break-word;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #fec700;
  margin-bottom: 20px;
  position: relative;
}
.top_btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.8;
}
.util {
  display: flex;
}
.hamburger,
.hamburger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.hamburger {
  position: relative;
  width: 50px;
  height: 44px;
  background: #303030;
  border-radius: 6px;
}
.hamburger span {
  position: absolute;
  left: 9px;
  width: 64%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.hamburger span:nth-of-type(1) {
  top: 10px;
}
.hamburger span:nth-of-type(2) {
  top: 20px;
}
.hamburger span:nth-of-type(3) {
  bottom: 10px;
}
.hamburger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (10px) rotate (-45deg);
  transform: translateY(10px) rotate(-45deg);
}
.hamburger.active-1 span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}
.gnb_list {
  height: 100vh;
  position: fixed;
  right: -170px;
  top: 64px;
  z-index: 99;
  background-color: #fff;
  transition: all .3s;
}
.gnb_list.on {
  right: -1px;
}
.gnb_list > ul > li {
  border-bottom: 1px solid #d7d7d7;
}
.gnb_list > ul > li > a {
  padding: 8px 24px;
  display: block;
  font-weight: 600;
}
.cont {
  padding: 10px 10px 60px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn > a {
  background-color: #fec700;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 6px;
  display: block;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}
.menu_list > ul > li {
  display: flex;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px #cfcfcf;
  margin-bottom: 20px;
}
.menu_list > ul > li .img_box {
  margin-right: 10px;
}
.menu_list > ul > li .img_box > img {
  max-width: 150px;
  width: 100%;
}
.menu_list > ul > li .info > span {
  display: block;
}
.picture_wrap .btn,
.menu_regist .btn,
.special_pd .btn {
  justify-content: center;
  padding-top: 10px;
}
.picture_wrap .btn > a,
.menu_regist .btn > a,
.special_pd .btn > a {
  margin: 0;
  width: 90%;
}
.regist_list > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.regist_list > ul > li > select {
  width: 49%;
}
.ai_btn {
  text-align: center;
  background-color: #fec700;
  display: block;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}